#   Mega2: Manipulation Environment for Genetic Analysis.
#
#   Copyright 1999-2018, University of Pittsburgh. All Rights Reserved.
#
#   Contributors to Mega2: Robert Baron, Justin R. Stickel, Charles P. Kollar,
#   Nandita Mukhopadhyay, Lee Almasy, Mark Schroeder, William P. Mulvihill,
#   and Daniel E. Weeks.
#
#   This file is part of the Mega2 program, which is free software; you
#   can redistribute it and/or modify it under the terms of the GNU
#   General Public License as published by the Free Software Foundation;
#   either version 3 of the License, or (at your option) any later
#   version.
#
#   Mega2 is distributed in the hope that it will be useful, but WITHOUT
#   ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
#   FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
#   for more details.
#
#   You should have received a copy of the GNU General Public License

#   along with this program; if not, write to the Free Software
#   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#  
#   For further information contact:
#       Daniel E. Weeks
#       e-mail: weeks@pitt.edu
#
# ===========================================================================
MAKEDEFS = DEFINED

# c compiler
CC = gcc

# compiler options
#CFLAGS = -Wall -g
OPT ?= -O3
CFLAGS = -Wall $(OPT)

ifdef STATIC
CLIBS = -lm -lws2_32 -static-libstdc++ -static-libgcc -static -lpthread
else
CLIBS = -lm -lws2_32
endif

SQLxDEFS = -DHAVE_INTTYPES_H=1 -DHAVE_LOCALTIME_R=1

cw_routines.o mega2.o net.o phe_lookup.o read_files.o user_input.o utils.o: DFLAGS += -DMINGW

ifeq ($(OSTYPE),msys2_7)
mega2.o net.o utils.o: DFLAGS += -DMSYS2_7
endif

str_utils.o plink_core_files.o write_files.o write_plink_files.o: DFLAGS += -DMINGW

phe_lookup.o utils.o write_files.o: CFLAGS += -D_GNU_SOURCE=1

