#   Mega2: Manipulation Environment for Genetic Analysis
#   Copyright (C) 1999-2014 Robert Baron, Charles P. Kollar,
#   Nandita Mukhopadhyay, Lee Almasy, Mark Schroeder, William P. Mulvihill,
#   Daniel E. Weeks, and University of Pittsburgh
#  
#   This file is part of the Mega2 program, which is free software; you
#   can redistribute it and/or modify it under the terms of the GNU
#   General Public License as published by the Free Software Foundation;
#   either version 3 of the License, or (at your option) any later
#   version.
#  
#   Mega2 is distributed in the hope that it will be useful, but WITHOUT
#   ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
#   FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
#   for more details.
#  
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software
#   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#  
#   For further information contact:
#       Daniel E. Weeks
#       e-mail: weeks@pitt.edu
# 
# ===========================================================================
MAKEDEFS = DEFINED

# c compiler
CC = cl
CXX = cl

LINK = link -nologo
LTARGET = -out:$(EXEC).exe -debug

AR = lib
ARFLAGS = -nologo
AROUT = -out:

WINO = -Fo$*.o

ZLIBS = zlib.lib

#pragma warning(disable:# #)

# compiler options

OPT ?= -O2
CFLAGS = $(OPT) -nologo -MD -Zi -W4 -D_CRT_SECURE_NO_WARNINGS -D_WIN -EHsc

RM=del /Q

#now on for all code: marker_lookup.o phe_lookup.o batch.o write_pseq_files.o: CFLAGS += -EHsc
